# Question 1:
__Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.__

__Input Format:The first line of the input contains an email address.__

__Output Format:Print the company name in single line.__

__Example;__

__Input:john@google.com__

__Output:google__

In [4]:
ip = input("Enter the email address: ")
x = ip.index("@")
y = ip.index(".")
print(ip[x+1 : y],end=" ")

Enter the email address: username@companyname.com
companyname

# Question 2:

__Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.__

__Input Format:The first line of input contains words separated by the comma.__

__Output Format:Print the sorted words separated by the comma.__

__Example:__

__Input: without,hello,bag,world__

__Output: bag,hello,without,world__

In [6]:
x = input("The words seperated by comma : ")
x = x.split(",")
x = sorted(x)
print("," . join(x))

The words seperated by comma : without,hello,bag,world
bag,hello,without,world

# Question 3:

__Create your own Jupyter Notebook for Sets.__

# Set

__A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.__

In [7]:
# Example

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

___Note: Sets are unordered, so you cannot be sure in which order the items will appear.___

__Access Items__

You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [8]:
# Example
# Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

banana
apple
cherry

In [9]:
# Example
# Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

__Change Items__

Once a set is created, you cannot change its items, but you can add new items.

__Add Items__

To add one item to a set use the add() method.

To add more than one item to a set use the update() method.

In [10]:
# Example
# Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'apple', 'orange', 'cherry'}

In [11]:
# Example
# Add multiple items to a set, using the update() method:

thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'mango', 'cherry', 'banana', 'orange', 'apple', 'grapes'}

__Get the Length of a Set__

To determine how many items a set has, use the len() method.

In [12]:
# Example
# Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

__Remove Item__

To remove an item in a set, use the remove(), or the discard() method.

In [17]:
# Example
# Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

__Note: If the item to remove does not exist, remove() will raise an error.__

In [19]:
# Example
# Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

__Note: If the item to remove does not exist, discard() will NOT raise an error.__

You can also use the pop(), method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

In [22]:
# Example
# Remove the last item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'apple', 'cherry'}

__Note: Sets are unordered, so when using the pop() method, you will not know which item that gets removed.__

In [23]:
# Example
# The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [26]:
# Example
# The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

__Join Two Sets__

There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [27]:
# Example
# The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [28]:
# Example
# The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

__Note: Both union() and update() will exclude any duplicate items.__

__The set() Constructor__

It is also possible to use the set() constructor to make a set.

In [29]:
# Example
# Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}

# Set Methods

Python has a set of built-in methods that you can use on sets.

__clear()__

The clear() method removes all elements in a set.

In [30]:
# Example
# Remove all elements from the fruits set:

fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

__copy()__

The copy() method copies the set.

In [31]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'banana', 'apple', 'cherry'}

__difference()__

The difference() method returns a set that contains the difference between two sets.

Meaning: The returned set contains items that exist only in the first set, and not in both sets.

In [33]:
# Example
# Return a set that contains the items that only exist in set x, and not in set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

In [34]:
# Example
# Reverse the first example. Return a set that contains the items that only exist in set y, and not in set x:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.difference(x)

print(z)

{'microsoft', 'google'}

__difference_update()__

The difference_update() method removes the items that exist in both sets.

The difference_update() method is different from the difference() method, because the difference() method returns a new set, without the unwanted items, and the difference_update() method removes the unwanted items from the original set.

In [35]:
# Example
# Remove the items that exist in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'banana', 'cherry'}

__intersection()__

The intersection() method returns a set that contains the similarity between two or more sets.

Meaning: The returned set contains only items that exist in both sets, or in all sets if the comparison is done with more than two sets.

In [36]:
# Example
# Return a set that contains the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [37]:
# Example
# Compare 3 sets, and return a set with items that is present in all 3 sets:

x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x.intersection(y, z)

print(result)

{'c'}

__intersection_update()__

The intersection_update() method removes the items that is not present in both sets (or in all sets if the comparison is done between more than two sets).

The intersection_update() method is different from the intersection() method, because the intersection() method returns a new set, without the unwanted items, and the intersection_update() method removes the unwanted items from the original set.

In [38]:
# Example
# Remove the items that is not present in both x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [39]:
# Example
# Compare 3 sets, and return a set with items that is present in all 3 sets:

x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

x.intersection_update(y, z)

print(x)

{'c'}

__isdisjoint()__

The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.

In [40]:
# Example
# Return True if no items in set x is present in set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [41]:
# Example
# What if no items are present in both sets?
# Return False if one ore more items are present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y)

print(z)

False

__issubset()__

The issubset() method returns True if all items in the set exists in the specified set, otherwise it retuns False.

In [42]:
# Example
# Return True if all items set x are present in set y:

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [43]:
# Example
# What if not all items are present in the specified set?
# Return False if not all items in set x are present in set y:

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}

z = x.issubset(y)

print(z)

False

__issuperset()__

The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it retuns False.

In [44]:
# Example
# Return True if all items set y are present in set x:

x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [45]:
# Example
# What if not all items are present in the specified set?
# Return False if not all items in set y are present in set x:

x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

False

__symmetric_difference()__

The symmetric_difference() method returns a set that contains all items from both set, but not the items that are present in both sets.

Meaning: The returned set contains a mix of items that are not present in both sets.

In [46]:
# Example
# Return a set that contains all items from both sets, except items that are present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'google', 'cherry', 'banana'}

__symmetric_difference_update()__

The symmetric_difference_update() method updates the original set by removing items that are present in both sets, and inserting the other items.

In [48]:
# Example
# Remove the items that are present in both sets, AND insert the items that is not present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple","mango"}

x.symmetric_difference_update(y)

print(x)

{'mango', 'microsoft', 'google', 'cherry', 'banana'}

# Question 4:

__Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.__

__Input Format:The first line contains n-1 numbers with each number separated by a space.__

__Output Format:Print the missing number__

__Example:__

__Input:1 2 4 6 3 7 8__

__Output:5__

__Explanation:In the above list of numbers 5 is missing and hence 5 is the input__

In [54]:
def missing_number(A):
    n = len(A)
    total = (n+1)*(n+2)/2
    sum_of_A =sum(A)
    return total - sum_of_A

A = [1,2,4,6,3,7,8]
miss = missing_number(A)
print(miss)

5.0

# Question 5:

__With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.__

__Example:__

__If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155__

__Explanation:__

__Third, seventh and ninth element of the list L has been removed because it was already present.__

__Input Format: In one line take the elements of the list L with each element separated by a space.__

__Output Format: Print the elements of the modified list in one line with each element separated by a space.__

__Example:__

__Input: 12 24 35 24__

__Output:12 24 35__

In [68]:
a = [12, 24, 35, 24, 88, 120, 155, 88, 120, 155]

dup_items = []

for x in a:
    if x not in dup_items:
        dup_items.append(x)

print(dup_items)

[12, 24, 35, 88, 120, 155]